image_root: 'images/pa100k/release_data'
test_file: 'data/finetune/PA100K_test.json'
val_file: 'data/finetune/PA100K_val.json'
train_file:  ['data/finetune/PA100K_train.json']


## Vision Encoder
use_swin: True
vision_config: 'configs/config_swinB_384.json'
image_res: 384
patch_size: 32
h: 384
w: 128


## Text Encoder
text_config: 'configs/config_bert.json'
text_encoder: 'data/bert-base-uncased'


## Training
batch_size_train: 200
batch_size_test: 200
batch_size_test_text: 1000

max_tokens: 15
max_words: 56

embed_dim: 256
temp: 0.07
k_test: 128


## mlm loss
mlm: True
mask_prob: 0.25
max_masks: 10
skipgram_prb: 0.2
skipgram_size: 3
mask_whole_word: True


## Other Settings
optimizer: {opt: adamW, lr: 1e-4, weight_decay: 0.01, lr_mult: 2}
schedular: {sched: step, lr: 1e-4, epochs: 30, num_warmup_steps: 0.1}

lr_2: True
load_params: False
load_pretrained: True

pa100k: True
#pa100k_only_img_classifier: True
#dop: 0.1

eda: False
LabelSmooth: 0 # 0.4